<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Results</title>
  </head>
  <body>
    <h1>Results</h1>
    <ul>
      <% files.forEach(file => { %>
      <li><a href="/<%= file %>"> <%= file %> </a></li>
      <% }) %>
    </ul>
  </body>
</html>
